In [1]:
from liste import Liste

In [2]:
def dbg(l, *other):
    print(l, '|', l.length())
    if other:
        print(*other)

In [3]:
l = Liste()
dbg(l)

[] | 0

In [4]:
for val in reversed(range(5)):
    l.insere_tete(val + 100)
dbg(l)

[ 100 101 102 103 104] | 5

In [5]:
[l.get_at(pos) for pos in [0, 1, l.length()-1, l.length(), l.length()+1]]

[100, 101, 104, None, None]

In [6]:
res = l.remplace_at(200, 1)
dbg(l, res)

[ 100 200 102 103 104] | 5
None

In [7]:
res = l.remplace_at(300, 0)
dbg(l, res)

[ 300 200 102 103 104] | 5
None

In [8]:
res = l.remplace_at(400, l.length()-1)
dbg(l, res)

[ 300 200 102 103 400] | 5
None

In [9]:
res = l.remplace_at(666, l.length())
dbg(l, res)

[ 300 200 102 103 400] | 5
ERROR : indice en dehors de la liste dans la fonction remplace_at

In [10]:
res = l.insere_at(999, 1)
dbg(l, res)

[ 300 999 200 102 103 400] | 6
None

In [11]:
res = l.insere_at(666, 0)     # NE MARCHE PAS CA INSERE EN POS=1 PAS 0 ##=> CORRECTED
dbg(l, res)

[ 666 300 999 200 102 103 400] | 7
None

In [12]:
res = l.insere_at(1234, l.length())    # insérer en pos=7 ds liste 7 éléms = append(), pour moi cela devrait marcher (ou dire dans doc)
dbg(l, res)                            # CORRECTED

[ 666 300 999 200 102 103 400 1234] | 8
None

In [13]:
res = l.insere_at(1234, l.length()+1)
dbg(l, res)

[ 666 300 999 200 102 103 400 1234] | 8
ERROR : indice en dehors de la liste dans la fonction insere_at

In [14]:
res = l.supprime_at(0)   # !!!!! NE MARCHE PAS CA SUPPRIME EN POS=1 PAS 0
dbg(l, res)              # CORRECTED

[ 300 999 200 102 103 400 1234] | 7
None

In [15]:
res = l.supprime_at(1)
dbg(l, res)

[ 300 200 102 103 400 1234] | 6
None

In [16]:
res = l.supprime_at(l.length()-1)
dbg(l, res)

[ 300 200 102 103 400] | 5
None

In [17]:
res = l.supprime_at(l.length())
dbg(l, res)

[ 300 200 102 103 400] | 5
ERROR : indice en dehors de la liste dans la fonction supprime_at

In [18]:
res = l.map(lambda x: print(x))
dbg(l)

300
200
102
103
400
[ 300 200 102 103 400] | 5

In [23]:
res = l.map(lambda x: x**2, True)    # !!!!! MAP N'EST PAS EN-PLACE (ELLE NE MODIFIE RIEN, C'EST ETRANGE, FEATURE OU BUG ?)
dbg(l)

[ 90000 40000 10404 10609 160000] | 5

In [20]:
res = l.count(100)
dbg(l, res)

[ 300 200 102 103 400] | 5
0

In [21]:
res = l.filter(lambda x: x%2==0)   # !!!!! ORDRE PAS COHERENT ?
dbg(l, res)                        # CORRECTED

[ 300 200 102 103 400] | 5
[ 300 200 102 400]

In [22]:
res = l.reduce(lambda x, y: x+y, 0)
dbg(l, res)

[ 300 200 102 103 400] | 5
1105